<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Profile</title>
	<link rel="stylesheet" href="/styles/dist/output.css">
	<link rel="shortcut icon" href="/favicon/favicon.png" type="image/x-icon">
	<script defer src="/scripts/dist/account.js"></script>
</head>

<body class="bg-gray-900 text-white min-h-screen flex flex-col">
	<%- include('components/navbar.ejs') %>
		<main class="flex p-2 gap-8">

			<section class="flex flex-col gap-3 flex-4/5 ml-[16.666%]">

				<article
					class="flex flex-col items-center gap-2 px-4 py-3 bg-gray-800 transition-shadow duration-500 hover:inset-ring hover:inset-ring-indigo-600/70 rounded-md">

					<form action="/account/avatar" , method="POST" enctype="multipart/form-data">
						<label for="avatar" class="cursor-pointer flex flex-col justify-center items-center">
							<%- include('components/errorPopup.ejs') %>
							<img src="/account/avatar" alt="Avatar"
								class="w-32 h-32 rounded-full border-4 border-blue-500 bg-gray-700 mb-1 shadow-lg">
							<span class="text-sm italic">Change avatar (jpeg, gif or png).</span>
							<input type="file" id="avatar" name="avatar" class="hidden">
						</label>
					</form>

					<h1 class="text-3xl font-extrabold text-center">Welcome
						back,
						<span class="text-blue-500">
							<%= user.username %>
						</span>
					</h1>
					<p class="text-xl font-medium">Your latest alias was <span class="text-blue-500">Prueba</span></p>
				</article>

				<article
					class="px-4 py-3 bg-gray-800 transition-shadow duration-500 hover:inset-ring hover:inset-ring-indigo-600/70 rounded-md">
					<h1 class="text-2xl text-left font-extrabold underline underline-offset-3 decoration-2">Play time
					</h1>
					<div class="flex justify-evenly items-center">
						<!-- Here, we could probably use a modal for the options once the user clicks in either of the buttons -->
						<button
							class="bg-blue-600 hover:bg-blue-700 hover:scale-125 hover:-translate-y-2.5 active:bg-blue-900 px-4 py-2 rounded transition font-semibold ml-2 cursor-pointer">Friendly
							match</button>
						<button
							class="bg-blue-600 hover:bg-blue-700 hover:scale-125 hover:-translate-y-2.5 active:bg-blue-900 px-4 py-2 rounded transition font-semibold ml-2 cursor-pointer">Tournament</button>
					</div>
				</article>

				<article
					class="px-4 py-3 bg-gray-800 transition-shadow duration-500 hover:inset-ring hover:inset-ring-indigo-600/70 rounded-md">
					<h1 class="text-2xl text-left font-extrabold underline underline-offset-3 decoration-2">Your
						latest stats</h1>
					<div class="flex justify-evenly m-2">
						<div class="text-center">
							<p class="text-2xl font-medium">Wins</p>
							<p class="text-2xl font-medium">
								<%= profile.victories %>
							</p>
						</div>
						<div class="text-center">
							<p class="text-2xl font-medium">Losses</p>
							<p class="text-2xl font-medium">
								<%= profile.defeats %>
							</p>
						</div>
					</div>
				</article>
			</section>

			<aside
				class="flex-1/5 px-4 py-3 overflow-auto bg-gray-800 transition-shadow duration-500 hover:inset-ring hover:inset-ring-indigo-600/70 rounded-md">
				<h1 class="text-2xl font-extrabold text-center">Friends</h1>
				<ul class="space-y-3">

					<!-- Here we would pass the friend information when it is available -->
					<!-- Later on, we can create a component for this part -->
					<li class="flex items-center gap-3 text-ellipsis overflow-x-auto border-b-1 border-gray-500 pb-2">
						<img src="/images/default-avatar.png" alt="Friend Avatar"
							class="w-10 h-10 shrink-0 rounded-full border-2 border-blue-400 bg-gray-700">
						<span class="text-lg">Friend test</span>
						<span class="bg-blue-600 p-2 rounded-full font-semibold ml-2">Online</span>
					</li>
					<li class="flex items-center gap-3 text-ellipsis overflow-x-auto border-b-1 border-gray-500 pb-2">
						<img src="/images/default-avatar.png" alt="Friend Avatar"
							class="w-10 h-10 shrink-0 rounded-full border-2 border-blue-400 bg-gray-700">
						<span class="text-lg">Offline friend test</span>
						<span class="bg-black p-2 rounded-full font-semibold ml-2">Offline</span>
					</li>
					<li class="flex items-center gap-3 text-ellipsis overflow-x-auto border-b-1 border-gray-500 pb-2">
						<img src="/images/default-avatar.png" alt="Friend Avatar"
							class="w-10 h-10 shrink-0 rounded-full border-2 border-blue-400 bg-gray-700">
						<span class="text-lg">A lot of fucking test, le'ts see that design break</span>
						<span class="bg-black p-2 rounded-full font-semibold ml-2">Offline</span>
					</li>
					<li class="text-gray-400 text-center">No friends yet.</li>
				</ul>
			</aside>
		</main>
		<%- include('components/footer.ejs') %>
</body>

</html>